<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partage ta fiche </title>
    <%- include(theme_header +'/header_css') %> 
    <%- include(theme_header +'/header_js') %> 
</head>
<body>
    <%- include(theme_header +'/nav') %> 

    <section class="main pt-5 mt-5">
        <div class="d-flex w-25 justify-content-lg-center text-center mx-auto ">
            <div class="card card-body ">
                <form action="/user/create" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Pseudo</label>
                        <input type="text" name="username" class="form-control" id="username">

                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="email">

                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Mot de passe</label>
                        <input type="password" name="password" id="password" class="form-control">

                    </div>
                    
                
                    <input type="submit" name="Créer un compte" class="btn btn-secondary">
                </form>


            </div>

        </div>

    </section>
    <%- include(theme_header +'/footer') %> 
   
    
    
</body>
</html>