<footer class="mt-5 pt-5 bg-dark text-white ">
    <h3 class="text-center">&copy; 2023 Partage ta Fiche </h3>
    <div class="d-flex justify-content-lg-between flex-column flex-lg-row">
      <div class="p-3">
        <h2>A propos</h2>
        <p>Viens aider des milliers d'étudiantsen partagant ta fiche de révision sur notre plateformeet profite toi aussi <br>
          des fiches de révision disponibles 
          grâce à un moteur de recherche puissant.</p>

      </div>
      <div class="p-3">
        <h2>Liens utiles</h2>
        <ul>
          <li><a href="/about">A propos</a></li>
        </ul>
        <ul>
          <li><a href="/join">Rejoindre</a></li>
        </ul>
        <ul>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul>
          <li><a href="/user/profil">Compte</a></li>
        </ul>
      </div>
      <div class="p-3 text-center">
        <img src="/asset/img/logo.png" class="img-fluid w-50 bg-white rounded" alt="Logo partage ta fiche">

      </div>

    </div>
    

  </footer>