<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partage ta fiche</title>
    <%- include(theme_header +'/header_css') %> 
    <%- include(theme_header +'/header_js') %> 
</head>
<body>
    <%- include(theme_header +'/nav') %> 

    <div class="alert alert-danger" role="alert">
        Une erreur est survenue lors de votre requète
      </div>
    
    <%- include(theme_header +'/footer') %> 
   
    
    
</body>
</html>